
/*PortfolioPage*/

/*Page Basic Style=>In order to remove default browser margins and padding on all elements*/

/************CSS STANDARD RESET***********

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;§
	font: inherit;
	vertical-align: baseline;

}

h3 {
	padding-left: 10px;
	font-weight: normal;
	font-style: italic;
	font-size: 2.rem;
	text-align: center;
	color: #555;

}

h2 {
	padding-left: 10px;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	text-transform:uppercase;
}

p {
	font-weight: lighter;
	color: #555;
	line-height: 1.5;
	font-size: 24px;
	padding: 10px;
	text-align: left;
}

li {
	font-weight: lighter;
	line-height: 1.5;
	font-size: 24px;
	padding: 10px;
}
*/

button {

	position: relative;
	display:inline;
	visibility: none;
	font-weight: bold;
	font-size: 0.8rem;
	background-color:inherit;
	border-bottom: 5px bold black;



    cursor:pointer;
	margin: 5px;
}

/*
************* HTML5 display-role reset for older browsers ************

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	background-color: #E9EDEF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

    /********************EDIT ONLY BELOW**********************/

/*==========  NORMAL SCREEN SIZE  ==========*/

/************ALL UI ELEMENTS STYLING***************/

* {
  box-sizing:border-box;
}

body {
  background-color: #E9EAEF;
  font-family: Helvetica;
 margin: 0 auto;
}

/* Center website */

#logoImage {

	width: 100px;
	height: auto;
	margin: 0 auto;
	margin-top: 5%;

}

#logoImage img {
	width:100%;
	display: block;
	margin-left: auto; margin-right: auto;

}
.main {
  max-width: 100%;
  margin: 0 auto;
}

.my_Intro {
	width:90%;
	margin: 5% auto;
	font-size: 2.6rem;
    line-height: 1.5em;
	font-weight:lighter;
	font-family: CallunaLghtRegular, Georgia, serif;
	word-break:keep-all;
	text-align: center;
}
#nav_top{

	width:100%;
	text-align: right;
	margin: 5% 10% 5% auto;

}
#nav_top li {
	font-size:1.15em ;
	font-weight: bold;
	position: relative;
	display: inline-block;
	letter-spacing: -0.07em;
	margin: 0 20px 0 auto;

}

a:link {
 color:#333;
text-decoration: none;
}
a:visited{
	color:#333;
}
.activeLnk, .lnk:hover {
  text-decoration: underline;
}


#myBtnContainer{ margin:0 auto; width:100%; height: auto;flex-wrap: wrap;
text-align: center;}

#myBtnContainer button{ position: relative; display: inline; width:100px; height: 50px; font-size: 0.99em; text-align: center;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
	position: relative;
	margin: 10px auto;
	width:80%;
	height: auto;
	display:none;
	text-align: center;/* Hide all elements by default */

}
.column img{
	margin: 5% 0 0 0;
	width:20%;
}
.column h4 {
	font-size: 3rem;
	position: relative;
	top:-40px;
}
.column p {
	font-size: 1.5rem;
	font-style: italic;
	position: relative;
	top:-100px;
	padding: 5%;

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
.my_Intro {
	font-size: 1.6rem;
}
.column {
	width:85%;
}
.column img{
	margin: 5% 0 0 0;
	width:30%;
}
#myBtnContainer button{ position: relative; display: inline; width:70px; height: 40px;font-size: 0.9em;
}
}
#caseLink :link{
	position: relative;
	margin-top:20px;
	text-decoration: underline;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 800;




}
/* Clear floats after rows
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
	border: none;
	outline:none;
	background-color: #F9F9F9;
	cursor: pointer;
}

.active, .btn:hover {
  background-color: #666;
  color: white;

}
