
/*PortfolioPage*/

/*Page Basic Style=>In order to remove default browser margins and padding on all elements*/

/************CSS STANDARD RESET***********/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

    /********************EDIT ONLY BELOW**********************/

/*==========  NORMAL SCREEN SIZE  ==========*/

/************ALL UI ELEMENTS STYLING***************/

* {
  box-sizing:border-box;
}
a:link {
	color:#333;
	text-decoration: none;
}
a:visited{
	color:#333;
}
.activeLnk, .lnk:hover {
	text-decoration: underline;
}
	/* Center website */

body, .main{
	max-width: 100%;
	margin: 0 auto;
	background-color: #E9EAEF;
	font-family: Helvetica;
	margin: 0 auto;
}
#imageDiv, #imageDiv img{
	width: 100px;
	height: auto;
	margin: 0 auto;
	margin-top: 3%;
}
.myIntro {
	width:90%;
	margin: 5% auto;
	font-size: 2rem;
    line-height: 2.5rem;
	font-weight:lighter;
	font-family: CallunaLghtRegular, Georgia, serif;
	word-break:keep-all;
	text-align: center;
}
#navTop{
	width:100%;
	text-align: right;
	margin:5% 10% 5%  auto;
	padding-right: 5%;
}
#navTop li {
	font-size:1.1rem ;
	font-weight:normal;
	position: relative;
	display: inline-block;
	letter-spacing: -0.03rem;
	margin:5px 5px auto;
}
#myBtnContainer{
	margin:0 auto;
	width:100%;
	height: auto;
	flex-wrap: wrap;
	text-align: center;
}
#myBtnContainer button{
	position: relative;
	display: inline;
	width:10%;
	height: 50px;
	font-size: 0.9rem;
	text-align: center;
}
/* Add padding BETWEEN each column */

.row .column {
  padding: 0.4rem;
}

/* Create three equal columns that floats next to each other */

.column {
	position: relative;
	margin: 0 auto;
	width:80%;
	height: auto;
	display:none;
	text-align: center;/* Hide all elements by default */
}

.column img{
	margin: 5% 20% 0 0;
	width:30%;
}
.column h4 {
	font-size: 3rem;
	position: relative;
	top:-40px;
}
.column p {
	font-size: 1.5rem;
	font-style: italic;
	position: relative;
	top:-100px;
	padding: 5%;

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
.my_Intro {
	font-size: 1.6rem;
}
.column {
	width:85%;
}
.column img{
	margin: 5% 0 0 0;
	width:30%;
}
#myBtnContainer button{ position: relative; display: inline; width:70px; height: 40px;font-size: 0.9em;
}
}
#caseLink :link{
	position: relative;
	margin-top:20px;
	text-decoration: underline;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 800;




}
/* Clear floats after rows
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  text-align: left;
  margin: 2%;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
	border: none;
	outline:none;
	background-color: #F9F9F9;
	cursor: pointer;
}

.active, .btn:hover {
  background-color: #666;
  color: white;

}
